In [28]:
#Teste Algoritmo
import pandas as pd
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
'''tabelaBelo['DESEMPENHO_SATISFATORIO'] = tabelaBelo.apply(lambda x: 'Satisfatório(condição social alta)'
                                                         if(x['NU_NOTA_TOTAL'] >= 500) and (x['NU_NOTA_REDACAO'] > 0) 
                                                         and (x['Q001'] == 1) and (x['Q002'] == 1) and (x['Q003'] == 1)
                                                         and (x['Q004'] == 1) and (x['Q006'] == 1) and (x['TP_ESCOLA'] == 3)
                                                         and (x['Q022'] == 1) and (x['Q024'] == 1) and (x['Q025'] == 1) else
                                                         'Satisfatório(condição social baixa)' if(x['NU_NOTA_TOTAL'] >= 500) and (x['NU_NOTA_REDACAO'] > 0) 
                                                         and (x['Q001'] == 0) and (x['Q002'] == 0) and (x['Q003'] == 0)
                                                         and (x['Q004'] == 0) and (x['Q006'] == 0) and (x['TP_ESCOLA'] == 2)
                                                         and (x['Q022'] == 0) and (x['Q024'] == 0) and (x['Q025'] == 0) else
                                                         'Desempenho insatifatório' if(x['NU_NOTA_TOTAL'] < 500)
                                                         else 'Desempenho satisfatório(condição social média)',axis=1)'''
tabelaBelo = pd.read_csv('dadosTeste.csv',delimiter=',',encoding='ISO-8859-1')
display(tabelaBelo)


print("Tabela de desenpenho: ")
print(tabelaBelo['DESEMPENHO_SATISFATORIO'].value_counts())

X = tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT', 'NU_NOTA_REDACAO','TP_ESCOLA','Q001','Q002','Q003','Q004','Q006','Q022','Q024','Q025']]
y = tabelaBelo['DESEMPENHO_SATISFATORIO']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = GaussianNB()
model.fit(X_train, y_train)

# 5. Testar o modelo
y_pred = model.predict(X_test)

# 6. Avaliar o desempenho do modelo
acc = accuracy_score(y_test, y_pred)
print(f'Acurácia: {acc}')


novo_estudante = pd.DataFrame({
    'NU_NOTA_CN': [600],
    'NU_NOTA_CH': [700],
    'NU_NOTA_LC': [450],
    'NU_NOTA_MT': [600],
    'NU_NOTA_REDACAO': [750],
    'TP_ESCOLA': [2],
    'Q001' :[1],
    'Q002' :[1],
    'Q003' :[0],
    'Q004' :[1],
    'Q006' :[1],
    'Q022' :[0],
    'Q024' :[1],
    'Q025' :[1]
    
})

# Prever o desempenho do estudante com o modelo treinado
probabilidade = model.predict_proba(novo_estudante)[:,1]

# Exibir a probabilidade de desempenho satisfatório do estudante
print(f"A probabilidade de desempenho satisfatório do estudante é de {probabilidade[0]*100:.2f}%.")

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025,NU_NOTA_TOTAL,DESEMPENHO_SATISFATORIO
0,190001496890,2019,1,F,1,3,1,2,0,2,...,A,B,B,A,1,A,1,1,593.78,Desempenho satisfatÃ³rio(condiÃ§Ã£o social mÃ©...
1,190001486200,2019,3,M,1,3,1,2,0,2,...,A,B,A,B,1,A,0,0,463.24,Desempenho insatifatÃ³rio
2,190001497060,2019,6,M,1,2,1,2,0,2,...,B,B,A,A,1,A,0,1,529.30,Desempenho satisfatÃ³rio(condiÃ§Ã£o social mÃ©...
3,190001500717,2019,4,F,1,3,1,2,0,2,...,A,B,A,A,1,A,0,1,498.14,Desempenho insatifatÃ³rio
4,190001508075,2019,2,F,1,2,1,2,0,2,...,A,B,B,A,0,A,1,1,510.10,Desempenho satisfatÃ³rio(condiÃ§Ã£o social mÃ©...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,210056479680,2022,3,F,1,3,1,2,0,2,...,A,B,A,A,1,A,0,1,584.14,Desempenho satisfatÃ³rio(condiÃ§Ã£o social mÃ©...
1393,210055342011,2022,2,M,1,1,1,2,0,2,...,A,B,A,A,1,A,0,1,564.86,Desempenho satisfatÃ³rio(condiÃ§Ã£o social mÃ©...
1394,210055508100,2022,4,M,1,1,1,2,0,2,...,A,E,B,A,1,A,1,1,499.86,Desempenho insatifatÃ³rio
1395,210056449922,2022,3,M,1,2,1,2,0,2,...,A,B,A,A,1,A,0,1,0.00,Desempenho insatifatÃ³rio
1396,210057128840,2022,2,M,1,3,1,2,0,2,...,B,B,A,B,1,A,0,1,566.68,Desempenho satisfatÃ³rio(condiÃ§Ã£o social mÃ©...

Tabela de desenpenho:
Desempenho insatifatÃ³rio                             700
Desempenho satisfatÃ³rio(condiÃ§Ã£o social mÃ©dia)    658
SatisfatÃ³rio(condiÃ§Ã£o social alta)                  37
SatisfatÃ³rio(condiÃ§Ã£o social baixa)                  2
Name: DESEMPENHO_SATISFATORIO, dtype: int64
Acurácia: 0.8238095238095238
A probabilidade de desempenho satisfatório do estudante é de 20.13%.

In [29]:
novo_estudante1 = pd.DataFrame({
    'NU_NOTA_CN': [600],
    'NU_NOTA_CH': [700],
    'NU_NOTA_LC': [450],
    'NU_NOTA_MT': [600],
    'NU_NOTA_REDACAO': [750],
    'TP_ESCOLA': [2],
    'Q001' :[1],
    'Q002' :[1],
    'Q003' :[0],
    'Q004' :[1],
    'Q006' :[1],
    'Q022' :[1],
    'Q024' :[1],
    'Q025' :[1]
    
})

# Prever o desempenho do estudante com o modelo treinado
probabilidade = model.predict_proba(novo_estudante1)[:,1]

# Exibir a probabilidade de desempenho satisfatório do estudante
print(f"A probabilidade de desempenho satisfatório do estudante é de {probabilidade[0]*100:.2f}%.")

A probabilidade de desempenho satisfatório do estudante é de 100.00%.

In [31]:
novo_estudante2 = pd.DataFrame({
    'NU_NOTA_CN': [600],
    'NU_NOTA_CH': [600],
    'NU_NOTA_LC': [450],
    'NU_NOTA_MT': [600],
    'NU_NOTA_REDACAO': [750],
    'TP_ESCOLA': [2],
    'Q001' :[1],
    'Q002' :[1],
    'Q003' :[0],
    'Q004' :[1],
    'Q006' :[0],
    'Q022' :[1],
    'Q024' :[1],
    'Q025' :[1]
    
})

# Prever o desempenho do estudante com o modelo treinado
probabilidade = model.predict_proba(novo_estudante2)[:,1]

# Exibir a probabilidade de desempenho satisfatório do estudante
print(f"A probabilidade de desempenho satisfatório do estudante é de {probabilidade[0]*100:.2f}%.")

A probabilidade de desempenho satisfatório do estudante é de 99.99%.

In [32]:
novo_estudante2 = pd.DataFrame({
    'NU_NOTA_CN': [600],
    'NU_NOTA_CH': [600],
    'NU_NOTA_LC': [450],
    'NU_NOTA_MT': [600],
    'NU_NOTA_REDACAO': [650],
    'TP_ESCOLA': [2],
    'Q001' :[1],
    'Q002' :[1],
    'Q003' :[0],
    'Q004' :[1],
    'Q006' :[0],
    'Q022' :[1],
    'Q024' :[1],
    'Q025' :[1]
    
})

# Prever o desempenho do estudante com o modelo treinado
probabilidade = model.predict_proba(novo_estudante2)[:,1]

# Exibir a probabilidade de desempenho satisfatório do estudante
print(f"A probabilidade de desempenho satisfatório do estudante é de {probabilidade[0]*100:.2f}%.")

A probabilidade de desempenho satisfatório do estudante é de 99.99%.

In [1]:
import pandas as pd

tabelaBelo = pd.read_csv('dadosBeloJardim.csv',delimiter=',',encoding='ISO-8859-1')
display(tabelaBelo)

tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO']] = tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO']].fillna(0)

display(tabelaBelo)

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001496890,2019,1,F,1,3,1,2,0,2,...,A,A,A,B,B,A,D,A,B,B
1,190001486200,2019,3,M,1,3,1,2,0,2,...,B,A,A,B,A,B,C,A,A,A
2,190001497060,2019,6,M,1,2,1,2,0,2,...,A,A,B,B,A,A,B,A,A,B
3,190001500717,2019,4,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,B
4,190001508075,2019,2,F,1,2,1,2,0,2,...,B,A,A,B,B,A,A,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,210056479680,2022,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
1393,210055342011,2022,2,M,1,1,1,2,0,2,...,B,A,A,B,A,A,C,A,A,B
1394,210055508100,2022,4,M,1,1,1,2,0,2,...,A,A,A,E,B,A,E,A,B,B
1395,210056449922,2022,3,M,1,2,1,2,0,2,...,B,A,A,B,A,A,B,A,A,B
1396,210057128840,2022,2,M,1,3,1,2,0,2,...,B,A,B,B,A,B,D,A,A,B

,NU_INSCRICAO,NU_ANO,TP_FAIXA_ETARIA,TP_SEXO,TP_ESTADO_CIVIL,TP_COR_RACA,TP_NACIONALIDADE,TP_ST_CONCLUSAO,TP_ANO_CONCLUIU,TP_ESCOLA,...,Q016,Q017,Q018,Q019,Q020,Q021,Q022,Q023,Q024,Q025
0,190001496890,2019,1,F,1,3,1,2,0,2,...,A,A,A,B,B,A,D,A,B,B
1,190001486200,2019,3,M,1,3,1,2,0,2,...,B,A,A,B,A,B,C,A,A,A
2,190001497060,2019,6,M,1,2,1,2,0,2,...,A,A,B,B,A,A,B,A,A,B
3,190001500717,2019,4,F,1,3,1,2,0,2,...,A,A,A,B,A,A,C,A,A,B
4,190001508075,2019,2,F,1,2,1,2,0,2,...,B,A,A,B,B,A,A,A,B,B
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1392,210056479680,2022,3,F,1,3,1,2,0,2,...,A,A,A,B,A,A,D,A,A,B
1393,210055342011,2022,2,M,1,1,1,2,0,2,...,B,A,A,B,A,A,C,A,A,B
1394,210055508100,2022,4,M,1,1,1,2,0,2,...,A,A,A,E,B,A,E,A,B,B
1395,210056449922,2022,3,M,1,2,1,2,0,2,...,B,A,A,B,A,A,B,A,A,B
1396,210057128840,2022,2,M,1,3,1,2,0,2,...,B,A,B,B,A,B,D,A,A,B

In [13]:
#Transformando dados
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score
tabelaBelo['Q025'] = tabelaBelo['Q025'].replace({'A': 0, 'B': 1})
display(tabelaBelo['Q025'])
tabelaBelo['Q024'] = tabelaBelo['Q024'].replace({'A': 0, 'B': 1,'C': 1, 'D': 1, 'E': 1})
display(tabelaBelo['Q024'])
cont = tabelaBelo['Q024'].value_counts()
print(cont)

tabelaBelo['NU_NOTA_TOTAL'] = tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO']].mean(axis=1)
tabelaBelo['DESEMPENHO'] = tabelaBelo.apply(lambda x: 1 if(x['NU_NOTA_TOTAL'] >= 500) and
                                                                       (x['Q025'] == 1) and 
                                                                       (x['Q024'] == 1) 
                                                                       else 0, axis=1)

print("Tabela de desenpenho: ")
print(tabelaBelo['DESEMPENHO'].value_counts())

X = tabelaBelo[['NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC', 'NU_NOTA_MT','NU_NOTA_REDACAO','Q025','Q024']]
y = tabelaBelo['DESEMPENHO']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)

model = GaussianNB()
model.fit(X_train, y_train)

# 5. Testar o modelo
y_pred = model.predict(X_test)

# 6. Avaliar o desempenho do modelo
acc = accuracy_score(y_test, y_pred)
print(f'Acurácia: {acc}')


novo_estudante = pd.DataFrame({
    'NU_NOTA_CN': [400],
    'NU_NOTA_CH': [400],
    'NU_NOTA_LC': [400],
    'NU_NOTA_MT': [400],
    'NU_NOTA_REDACAO': [400],
    'Q025': [1],
    'Q024': [1]
})

# Prever o desempenho do estudante com o modelo treinado
probabilidade = model.predict_proba(novo_estudante)[:,1]

# Exibir a probabilidade de desempenho satisfatório do estudante
print(f"A probabilidade de desempenho satisfatório do estudante é de {probabilidade[0]*100:.2f}%.")

0       1
1       0
2       1
3       1
4       1
       ..
1392    1
1393    1
1394    1
1395    1
1396    1
Name: Q025, Length: 1397, dtype: int64

0       1
1       0
2       0
3       0
4       1
       ..
1392    0
1393    0
1394    1
1395    0
1396    0
Name: Q024, Length: 1397, dtype: int64

0    874
1    523
Name: Q024, dtype: int64
Tabela de desenpenho:
0    1061
1     336
Name: DESEMPENHO, dtype: int64
Acurácia: 0.9166666666666666
A probabilidade de desempenho satisfatório do estudante é de 53.15%.